.quadrado {
    width: 100px;
    height: 100px;
}

.verde {
    background-color: #3DA542;
}

.verdeclaro {
    background-color: #A7D379;
}

.branco {
    background-color: #FFFFFF;
}

.cinza {
    background-color: #A9A9A9;
}

.preto {
    background-color: #000000;
}

.pai {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
/* estilizando as classes... */
/* flex-direction muda a direção */
/* justify-content muda o local centro, direita e esquerda - atua no eixo principal*/
/* para alinhar os itens, precisa de altura - atua no eixo secundário */
/* vh é porcentagem da altura da tela, vw da largura */